.albumInfo-card{
    margin:auto auto;
    width: 70%;
}

.albumInfo-card p{
    margin: 5px auto !important;
}

.albumName-container{
    /* for marquee */
    width: 90%;
    overflow: hidden;
    /* done */

    font-size: 20px;
    font-weight: 700;
    color: #c3d0e3;
}

.marquee{
    white-space: nowrap;
    display: inline-block;
    animation: marquee 12s linear infinite;
    padding-left: 100%;
}

@keyframes marquee{
    0%{
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}

.album-info{
    font-size: 15px;
    font-weight: 500;
    color: #9AA9C2;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    -webkit-box-orient: vertical;
}

.album-release{
    font-size: 12px;
    font-weight: 400;
    color: #9AA9C2;
    margin-top: 10px;
}