.fav_album-body{
    width: 100%;
    border-radius: 30px;
}

.fav_album-top-body{
    display: flex;
    justify-content: space-between;
    /* border: 2px solid pink; */
    /* width: 100%; */
    margin-top: 5%;
    margin-left: 2%;
    margin-right: 2%;
    width: 94%;
    border-radius: 30px;
}

.fav_album-header{
    color: white;
    font-weight: 800;
    font-size: 24px;
    /* margin: 20px 0px; */
}
.fav_album-header.main-header{
    font-size: 24px;
}
.fav_album-header .sub-heading{
    font-size: 18px;
}

.fav_album-buttons{
    display: flex;
    width: 6%;
    justify-content: space-between;
}

.fav_album-bottom-body{
    /* border: 2px solid yellow; */
    /* width: 100%; */
    /* height:85%; */
    padding: 3%;
    display: flex;
    flex-wrap: wrap;
    overflow-y: auto;
    justify-content: space-between;
}

.fav_album-card{
    position: relative;
    width: 15%;
    max-height: 40%;
    border-radius: 20px;
    background-color: rgb(30, 42, 62);
    border: 1px solid rgba(54,69,98,0.18);
    padding: 1%;
    margin-bottom: 2%;
    background: linear-gradient(75deg,rgb(40,58,88) 0%,rgba(54,69,98,0) 100%);
    transition: all 0.2s ease;
    cursor: pointer;
}

.fav_album-card:hover{
    transform: scale(1.05);
}

.fav_album-card:hover .fav_album-fade{
    opacity: 1;
}

.fav_album-img{
    width: 100%;
    aspect-ratio: 1; /*set the width and height ratio*/
    border-radius: 15px;
}

.fav_album-title{
    font-weight: 800;
    font-size: 16px;
    color: #c4d0e3;
    margin: 10px 0px 10px;
    /* to control the title to 2 lines */
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
}

.fav_album-subtitle{
    font-weight: 400;
    font-size: 12px;
    margin: 0px;
    color: #c4d0e37c;
}

.fav_album-fade{
    position: absolute;
    right: 0;
    bottom: 0;
    opacity: 0;
    width: 100%;
    height: 34%;
    border-radius: 20px;
    background:linear-gradient(180deg,rgba(54,69,98,0) 10%,rgba(54,69,98,1) 100%);
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    padding: 8%;
    transition: all 0.2s ease;
}

.fav_album-disabled{
    visibility: hidden;
}